<?xml version='1.0' encoding='utf-8'?>
<widget id="com.findy.findyApp" version="1.0.8" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Findy-User</name>
    <description>
        Findy, encuentra todas tus tiendas
    </description>
    <author email="soporte@abbost.com" href="http://abbost.com">
        ABBOST DEVELOPMENT TEAM
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <plugin name="cordova-plugin-geolocation" spec="^4.0.1" />
    <plugin name="cordova-plugin-compat" spec="^1.2.0" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-dialogs" spec="^2.0.1" />
    <plugin name="cordova-plugin-facebook" spec="0.2.2">
        <variable name="FACEBOOK_DISPLAY_NAME" value="FindyApp" />
        <variable name="FACEBOOK_APP_ID" value="291949018192665" />
    </plugin>
    
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="true" />
    <preference name="phonegap-version" value="cli-8.1.1" />
    <engine name="browser" spec="^5.0.4" />
    <engine name="android" spec="^7.1.4" />
    <engine name="ios" spec="~4.5.5" />
    <platform name="ios">
        <icon src="res/icon/ios/icon-1024.png" width="1024" height="1024"/>
        <icon src="res/icon/ios/icon-small.png" width="29" height="29"/>
        <icon src="res/icon/ios/icon-small@2x.png" width="58" height="58"/>
        <icon src="res/icon/ios/icon-small@3x.png" width="87" height="87"/>
        <icon src="res/icon/ios/icon-small-40.png" width="40" height="40"/>
        <icon src="res/icon/ios/icon-small-40@2x.png" width="80" height="80"/>
        <icon src="res/icon/ios/icon-small-40@3x.png" width="120" height="120"/>
        <icon src="res/icon/ios/icon-small-50.png" width="50" height="50"/>
        <icon src="res/icon/ios/icon-small-50@2x.png" width="100" height="100"/>
        <icon src="res/icon/ios/icon.png" width="57" height="57"/>
        <icon src="res/icon/ios/icon@2x.png" width="114" height="114"/>
        <icon src="res/icon/ios/icon-60.png" width="60" height="60"/>
        <icon src="res/icon/ios/icon-60@2x.png" width="120" height="120"/>
        <icon src="res/icon/ios/icon-60@3x.png" width="180" height="180"/>
        <icon src="res/icon/ios/icon-72.png" width="72" height="72"/>
        <icon src="res/icon/ios/icon-72@2x.png" width="144" height="144"/>
        <icon src="res/icon/ios/icon-76.png" width="76" height="76"/>
        <icon src="res/icon/ios/icon-76@2x.png" width="152" height="152"/>
        <icon src="res/icon/ios/icon-167.png" width="167" height="167"/>
        <icon src="res/icon/ios/icon-83.5@2x.png" width="167" height="167"/>
    </platform>
    <platform name="android">
        <icon density="ldpi" src="res/icon/android/ldpi.png"/>
        <icon density="mdpi" src="res/icon/android/mdpi.png"/>
        <icon density="hdpi" src="res/icon/android/hdpi.png"/>
        <icon density="xhdpi" src="res/icon/android/xhdpi.png"/>
        <icon density="xxhdpi" src="res/icon/android/xxhdpi.png"/>
        <icon density="xxxhdpi" src="res/icon/android/xxxhdpi.png"/>
    </platform>

    <edit-config target="NSLocationWhenInUseUsageDescription" file="*-Info.plist" mode="merge">
        <string>Su ubicación actual se mostrará en el mapa y se usará para obtener direcciones y encontrar negocios cercanos</string>
    </edit-config>
</widget>
