<?xml version='1.0' encoding='utf-8'?>
<widget id="com.findy.findyApp" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Findy-User</name>
    <description>
        Findy, encuentra todas tus tiendas
    </description>
    <author email="soporte@abbost.com" href="http://abbost.com">
        ABBOST DEVELOPMENT TEAM
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <icon platform="ios" src="icon.png" />
    <icon platform="android" src="icon.png" />
    <plugin name="cordova-plugin-geolocation" spec="^4.0.1" />
    <plugin name="cordova-plugin-compat" spec="^1.2.0" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-dialogs" spec="^2.0.1" />
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="true" />
    <preference name="phonegap-version" value="cli-8.1.1" />
    <plugin name="cordova-plugin-facebook" spec="0.2.2">
        <variable name="FACEBOOK_DISPLAY_NAME" value="FindyApp" />
        <variable name="FACEBOOK_APP_ID" value="291949018192665" />
    </plugin>
    <engine name="browser" spec="^5.0.4" />
    <engine name="android" spec="^7.1.4" />
    <engine name="ios" spec="~4.5.5" />
</widget>
