<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Findy-User</name>
    <description>
        Findy, encuentra todas tus tiendas
    </description>
    <author email="soporte@abbost.com" href="http://abbost.com">
        ABBOST DEVELOPMENT TEAM
    </author>
    
    <content src="index.html" />
    <access origin="*" />

    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <engine name="browser" spec="^5.0.4" />
    <engine name="android" spec="latest" />
    <engine name="ios" spec="latest" />

    <plugin name="cordova-plugin-geolocation" spec="^4.0.1">
        <variable name="GEOLOCATION_USAGE_DESCRIPTION" value="This app uses your location for maps." />
    </plugin>
    <plugin name="cordova-plugin-compat" spec="^1.2.0" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-dialogs" spec="^2.0.1" />
    <plugin name="uk.co.workingedge.phonegap.plugin.launchnavigator" spec="^4.2.2">
        <variable name="OKHTTP_VERSION" value="3.10.0" />
        <variable name="LOCATION_USAGE_DESCRIPTION" value="This app requires access to your location for navigation purposes" />
    </plugin>
    <platform name="android">
        <uses-permission name="android.permission.WRITE_EXTERNAL_STORAGE" />
        <uses-permission name="android.permission.ACCESS_NETWORK_STATE" />
        <uses-permission name="android.permission.ACCESS_WIFI_STATE" />
        <uses-permission name="android.permission.ACCESS_COARSE_LOCATION" />
        <uses-permission name="android.permission.ACCESS_FINE_LOCATION" />
        <uses-permission name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    </platform>
</widget>
