
@font-face{
  font-family:'GothamRnd-Medium';
  src:url('../fonts/GothamRnd-Medium.otf') format('opentype');
}
@font-face{
  font-family:'GothamRnd-Bold';
  src:url('../fonts/GothamRnd-Bold.otf') format('opentype');
}
@font-face{
  font-family:'GothamRnd-MedItal';
  src:url('../fonts/GothamRnd-MedItal.otf') format('opentype');
}
@font-face{
  font-family:'GothamRnd-Light';
  src:url('../fonts/GothamRnd-Light.otf') format('opentype');
}

html, body {height: 100%}
body{margin: 0px; font-family: GothamRnd-Medium;}

.headerLogoImg{background-position: center; background-repeat: no-repeat; min-height: 150px; width: 100%;}
@media only screen and (max-width: 320px){
	.headerLogoImg{background-size: 260px 500px}
}
@media only screen and (min-width: 321px){
	.headerLogoImg{background-size: auto;}
}

.topDiv{position: absolute; left: 5%; z-index: 99; width: 90%; border: 1px solid black; border-radius: 10px}
#verCategoriasBtn{bottom:30px; min-height: 50px; background-color: white; cursor: pointer; text-align: center;}
.info{bottom:100px; min-height: 80px; background-color: white;}

.infoDetail h3,.infoDetail p{
	margin:0px;
	padding: 2px 0px ;
}
.infoDetail p{
	font-family: 'GothamRnd-Light';
	font-size: 11px;
}